
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 0;
    padding: 20px 0;
    transform: translateY(-40px);
    transition: all 0.8s ease;


}


.header.visible {
    opacity: 1;
    transform: translateY(0);
}

.header.animate-in {
    transform: translateY(0);
    opacity: 1;
}

header.moved {
    padding: 10px 0;
}


.header-body {
    padding: 12px;
    gap: 20px;
    transition: .3s;
    position: relative;
    z-index: 2;
    border-radius: 200px;
    background: var(--dark-blue);
    justify-content: space-between;

}


.menu-bg {
    display: none;
}

.menu-list {
    gap: 48px;

}

.menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--light-gray);
    transition: .3s;

}

.menu-link:hover {
    color: var(--primary);
}

.header-logo {
    margin-left: 20px;
}

.header-actions {
    gap: 12px;
}

.btn-login {
    background: var(--dark-gray);
    color: var(--white);
    transition: 0.3s ease-in-out;
    padding: 12px 28px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}


.btn-register {
    padding: 12px 18px 12px 28px;
    background: var(--blue-gradient);
    text-align: center;
    color: var(--white);
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    gap: 13px;
    transition: all 0.4s ease;
    z-index: 2;
    position: relative;
    overflow: hidden;


}
.btn-register i{
    margin-top: 2px;
}

.btn-register::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--blue-gradient);
    border-radius: 30px;
    transition: transform 0.5s ease;
    z-index: -1;
}

.btn-register:hover {
    background: var(--white);
    color: var(--black);

}

.btn-register:hover i {
    background: var(--black);

}

.btn-register:hover::after {
    transform: translateX(100%);
}

.btn-login:hover {
    background: var(--white);
    color: var(--black);

}


.icon-arrow {
    font-size: 14px;
    background: var(--white);
}

.header-mobile-actions {
    display: none;
}


.burger {
    display: none;
}

.menu-decor {
    display: none;
}


@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

    .menu {
        margin-left: 0;
    }

    .header-body {
        gap: 50px;
        position: static;
    }

}

@media (max-width: 992px) {
    .burger.active {
        position: relative;
        transition: .3s;
        z-index: 3;
    }


    .menu-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 44px;
        border-radius: 16px;
        padding: 52px 20px 20px 20px;
        position: relative;
        z-index: 2;
        background: var(--dark-blue);

    }

    .menu-decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        z-index: -1;
        display: block;

    }

    .menu-decor img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }


    .header-body::after {
        display: none;
    }

    .menu-link {
        text-align: center;

    }

    .menu-bg {
        backdrop-filter: blur(20px);
        --webkit-filter: blur(20px);
        background: #00000066;
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 0;
        z-index: -1;
        transition: .5s;
        display: block;

    }

    .menu-bg.active {
        top: 0;
        height: 100vh;
    }

    .burger {
        flex: 0 0 44px;
        height: 44px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--dark-gray);
        cursor: pointer;
        transition: .5s;
        z-index: 4;
        gap: 4.5px;
        border-radius: 50%;
    }

    .burger span {
        width: 20px;
        display: block;
        height: 1.5px;
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }

    .header-body {
        border: none;
    }

    .burger::after {
        width: 20px;
        display: block;
        height: 1.6px;
        content: '';
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }

    .burger::before {
        width: 20px;
        height: 1.6px;
        content: '';
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }


    .burger.active span {
        opacity: 0;
        visibility: hidden;
    }

    .menu-content-mobile {
        display: block;
        padding: 80px 0 24px;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 6px;
        position: relative;
        background: var(--white);


    }


    .burger.active::after {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative;
        background: var(--white);

    }


    .menu {
        position: fixed;
        top: -800%;
        width: 100%;
        transition: .5s;
        z-index: 3;
        padding: 0 14px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 10px;
        left: 0;
        max-height: 80vh;
    }


    .menu.active {
        top: 100px;
    }


}

@media (max-width: 768px) {

    .header-actions {
        display: none;
    }

    .header-mobile-actions {
        display: flex;
    }

    .header-mobile-actions .btn-register {
        margin-top: -30px;
        padding: 12px 28px 12px 28px;
    }

    .header-mobile-actions .btn-login {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {

    .header-mobile-actions button {
        width: 100%;
    }

    .header-mobile-actions {
        width: 100%;
    }

    .header-logo {
        margin-left: 12px;
    }

    header {
        padding: 14px 0;
    }

    .header-decor::after {
        display: none;
    }

    .header-body {
        padding: 8px;
    }

    .menu.active {
        top: 88px;
    }

}

@media (max-width: 400px) {

}